# Snippets for markdown

priority -10

snippet interview "# Decision"
# Decision
## Level: Two to three, I think
## Risk Appetite: Risk Averse
## Upsides
## Risk Factors
## Conclusion
# Notes from the interview
Blah blah blah
endsnippet
